In [26]:
import pandas as pd
import numpy as np

In [27]:
notif = pd.read_csv('../data/notifications.csv')
users = pd.read_csv('../processed_data/trans_users_dev.csv')

In [28]:
notif.head(5)

,reason,channel,status,user_id,created_date
0,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_1252,2018-12-02 17:58:33.320645
1,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_12783,2018-12-01 23:09:37.367127
2,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_10244,2018-12-04 02:57:56.425660
3,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_14486,2018-12-14 17:09:58.900808
4,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_28,2018-12-11 12:42:59.718574

In [29]:
notif.reason.value_counts()

REENGAGEMENT_ACTIVE_FUNDS            28832
PROMO                                18987
NO_INITIAL_CARD_ORDER                 9071
NO_INITIAL_CARD_USE                   9035
INVEST_IN_GOLD                        6649
LOST_CARD_ORDER                       4941
PROMO_CARD_ORDER                      4358
JOINING_ANNIVERSARY                   3334
MADE_MONEY_REQUEST_NOT_SPLIT_BILL     2851
ONBOARDING_TIPS_ACTIVATED_USERS       2423
ENGAGEMENT_SPLIT_BILL_RESTAURANT      1834
BLACK_FRIDAY                          1681
METAL_RESERVE_PLAN                     950
SILVER_ENGAGEMENT_INACTIVE_CARD        896
WELCOME_BACK                           779
BLUE_TUESDAY                           555
SILVER_ENGAGEMENT_FEES_SAVED           528
Name: reason, dtype: int64

In [30]:
users.shape

(14821, 29)

In [31]:
notif.shape

(97704, 5)

In [32]:
notif=notif.set_index('user_id')
notif=notif.sort_values(by=['user_id'])

In [33]:
notif.head(3)

,reason,channel,status,created_date
user_id,,,,
user_0,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,2018-09-12 03:48:33.318855
user_0,ONBOARDING_TIPS_ACTIVATED_USERS,EMAIL,SENT,2018-10-05 20:21:46.209855
user_0,BLACK_FRIDAY,PUSH,SENT,2018-11-25 02:55:51.643855

In [34]:
pd.crosstab(notif['reason'],notif['channel'])

channel                            EMAIL   PUSH   SMS
reason
BLACK_FRIDAY                           0   1681     0
BLUE_TUESDAY                           0    555     0
ENGAGEMENT_SPLIT_BILL_RESTAURANT    1834      0     0
INVEST_IN_GOLD                      6649      0     0
JOINING_ANNIVERSARY                    0   3334     0
LOST_CARD_ORDER                     1888   3053     0
MADE_MONEY_REQUEST_NOT_SPLIT_BILL   2851      0     0
METAL_RESERVE_PLAN                     0    346   604
NO_INITIAL_CARD_ORDER               9071      0     0
NO_INITIAL_CARD_USE                 9035      0     0
ONBOARDING_TIPS_ACTIVATED_USERS     2423      0     0
PROMO                              10261   8726     0
PROMO_CARD_ORDER                    4358      0     0
REENGAGEMENT_ACTIVE_FUNDS              0  27125  1707
SILVER_ENGAGEMENT_FEES_SAVED           0    528     0
SILVER_ENGAGEMENT_INACTIVE_CARD        0    896     0
WELCOME_BACK                         779      0     0

In [35]:
pd.crosstab(notif['reason'],columns=[notif['channel'],notif['status']])

channel                            EMAIL         PUSH           SMS
status                            FAILED  SENT FAILED   SENT FAILED SENT
reason
BLACK_FRIDAY                           0     0    253   1428      0    0
BLUE_TUESDAY                           0     0    129    426      0    0
ENGAGEMENT_SPLIT_BILL_RESTAURANT     555  1279      0      0      0    0
INVEST_IN_GOLD                      1192  5457      0      0      0    0
JOINING_ANNIVERSARY                    0     0    601   2733      0    0
LOST_CARD_ORDER                      684  1204    832   2221      0    0
MADE_MONEY_REQUEST_NOT_SPLIT_BILL   1527  1324      0      0      0    0
METAL_RESERVE_PLAN                     0     0    346      0     63  541
NO_INITIAL_CARD_ORDER               2240  6831      0      0      0    0
NO_INITIAL_CARD_USE                 4629  4406      0      0      0    0
ONBOARDING_TIPS_ACTIVATED_USERS      280  2143      0      0      0    0
PROMO                               2516  7745   2792   5934      0    0
PROMO_CARD_ORDER                     673  3685      0      0      0    0
REENGAGEMENT_ACTIVE_FUNDS              0     0   4811  22314   1479  228
SILVER_ENGAGEMENT_FEES_SAVED           0     0    103    425      0    0
SILVER_ENGAGEMENT_INACTIVE_CARD        0     0    109    787      0    0
WELCOME_BACK                         197   582      0      0      0    0

In [40]:
notif_sent = notif[notif.status == 'SENT']

In [37]:
notif_sent.shape

(71693, 4)

In [38]:
notif_sent.head(20)

,reason,channel,status,created_date
user_id,,,,
user_0,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,2018-09-12 03:48:33.318855
user_0,ONBOARDING_TIPS_ACTIVATED_USERS,EMAIL,SENT,2018-10-05 20:21:46.209855
user_0,BLACK_FRIDAY,PUSH,SENT,2018-11-25 02:55:51.643855
user_0,ONBOARDING_TIPS_ACTIVATED_USERS,EMAIL,SENT,2018-10-09 19:48:43.056855
user_0,ONBOARDING_TIPS_ACTIVATED_USERS,EMAIL,SENT,2018-10-02 19:44:53.849855
user_0,NO_INITIAL_CARD_USE,EMAIL,SENT,2018-09-23 22:06:48.117855
user_0,ONBOARDING_TIPS_ACTIVATED_USERS,EMAIL,SENT,2018-09-28 19:44:44.263855
user_0,INVEST_IN_GOLD,EMAIL,SENT,2019-02-17 19:48:44.446855
user_1,JOINING_ANNIVERSARY,PUSH,SENT,2019-01-11 21:27:44.206146
user_1,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,2018-09-18 07:01:11.128146
user_1,ENGAGEMENT_SPLIT_BILL_RESTAURANT,EMAIL,SENT,2019-01-04 14:21:33.980146
user_1,NO_INITIAL_CARD_ORDER,EMAIL,SENT,2018-01-18 12:55:43.689146
user_1,PROMO,PUSH,SENT,2018-12-24 23:59:44.448146
user_1,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,2018-11-14 00:03:27.725146
user_1,NO_INITIAL_CARD_USE,EMAIL,SENT,2018-03-06 12:55:43.689146
user_1,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,2018-11-29 00:05:59.332146
user_1,NO_INITIAL_CARD_USE,EMAIL,SENT,2018-03-26 12:55:43.689146
user_1,NO_INITIAL_CARD_USE,EMAIL,SENT,2018-03-23 12:55:43.689146
user_10,INVEST_IN_GOLD,EMAIL,SENT,2019-03-12 09:02:47.273413
user_10,NO_INITIAL_CARD_ORDER,EMAIL,SENT,2018-02-06 23:29:22.373413

In [39]:
def calcScore(col):
    col = sort(col)
    l = []
    for i in range(len(col)):
        return
    0.25
    0.5
    0.75
    1

In [41]:
last = pd.merge(users, notif, on='user_id', how='left')

In [44]:
last[last.reason == 'INVEST_IN_GOLD'].plan.value_counts()

0    6228
1     354
Name: plan, dtype: int64